/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	display: flex;
	flex-direction: column;
	line-height: 1;
	min-height: 100vh;
	max-height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#header{
display: flex;
background-color: rgb(255, 255, 255);
margin-bottom: 4%;;
flex-wrap: wrap;
align-items: center;
}

#link{
display: flex;
flex: 1;
justify-content: center;
gap: 5%;

}




@media only screen and (max-width: 1000px){
	.iconesLink{border: 2px #1b357e solid; border-style: double; border-radius: 16px; padding:5px;}
	#divNav{min-width: 70px; margin:4%}
	.imagemHeader{min-width: 70px;margin:4%}
}

.iconesLink{
border: 2px none solid;
border-style: double;
font-size: 32px;
}
.iconesLink:hover{
	border: solid 2px #1b357e;
	border-style: double;
	transform: scale(1);
	border-radius: 16px;
	padding: 5px;
}

.imagemHeader{
	width: 10%;
}

#divNav{
	width: 10%;
}






#main{
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	align-items: center;
	
}
#AjusteMain{
	float: left;
	/* width: 50vw; */
	padding-left: 4%;

	padding-right: 1%;
	
}
#imagemMain{
width: 75vw;

}


#sectionMain{
	
	height: 100%;
	width: 100%;
}


#divTexto{
	margin-top: 13%;
	
}




#footer{
display: flex;
align-items: center;
background-color: #1b357e;
gap: 10px;
width: 100%;



}


#mensagemRedesSocial{
	
	font-size: 1vw;
	padding: 0.7%;
	align-self: center;
}

.logosHome{
	display: flex;
	flex-direction: row;
}

#logoIsoladaFord{
	margin-right: 2vw;
}

#navRodape{
	flex:1;
	display: flex;
	}